@use "fonts";

body {
  background: transparent linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.btn {
  padding: 15px 30px;
  cursor: pointer;
  color: #324bff;
  background: #ffffff;
  border: 1px solid #324bff;
  border-radius: 50px;
  text-transform: uppercase;
}

.btn.primary {
  background: #324bff;
  color: white;
}

.reset-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
